asgiref==3.11.1
awscli==1.44.72
boto3==1.42.79
botocore==1.42.82
colorama==0.4.6
Django==5.1.15
docutils==0.19
gunicorn==25.3.0
jmespath==1.1.0
packaging==26.0
pyasn1==0.6.3
python-dateutil==2.9.0.post0
PyYAML==6.0.3
rsa==4.7.2
s3transfer==0.16.0
six==1.17.0
sqlparse==0.5.5
tzdata==2025.3
urllib3==2.6.3
